#relogio{
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        text-align: center;
}
  #cronometro{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: auto;
    
}
  